head
  link(rel='icon' type='image/png' href='../assets/logo-pre-aah-aah.png')

.container
  .columns
    .column.col-12
      h1
        a.mr-2(href="https://twitter.com/labofoz")
          img(src='assets/logo-pre-aah-aah.png' height=80)
        | Handsfree.js
      p
        button.btn.btn-primary.mr-2(onclick='handsfree.toggle()') Toggle

  .columns
    .column.col-6
      #handsfree-debug
    .column.col-6
      table.table.table-striped.table-hover
        thead
          tr
            th 
              code pose.part
            th Value
        tbody
          tr
            td
              code eyeMidpoint.x
            td#x
          tr
            td
              code eyeMidpoint.y
            td#y
          tr
            td
              code head.roll
            td#roll
