head
  link(rel='icon' type='image/png' href='../assets/logo-pre-aah-aah.png')

.container
  .columns
    .column.col-12
      h1
        a.mr-2(href="https://twitter.com/labofoz")
          img(src='assets/logo-pre-aah-aah.png' height=80)
        | Handsfree.js
      p
        button.btn.btn-primary.mr-2(onclick='handsfree.toggle()') Toggle
        button.btn.btn-primary(onclick='updateTarget()') Move Target

  .columns
    .column.col-6
      p 
        strong #handsfree-debug
      #handsfree-debug
    .column.col-6
      p 
        strong #handsfree-debug-new-target
      #handsfree-debug-new-target
