#app > .theme-container > header.navbar .site-name
  &:before
    content: ''
    display: inline-block
    width: 40px
    height: 40px
    vertical-align: middle
    background: url('/assets/img/logo-ooh-ooh.png')
    background-size: contain
    margin-right: 10px
    top: -4px
    position: relative

img
  vertical-align: middle
