$pointerSize = 20px

// Core elements
body
  padding: 40px 20px
div
  position: relative
img
  vertical-align: middle
  max-width: 100%

// Spectre.css
.container
  max-width: 800px

// Handsfree
.handsfree-pointer
  background: rgba(0, 0, 0, 0.7)
  border: 2px solid rgba(0, 0, 0, 0.9)
  border-radius: $pointerSize
  width: $pointerSize
  height: $pointerSize

// dat.gui
.dg.main
  margin: 0

  > *
    box-sizing: border-box

  li.cr, input
    margin: 0
